@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

.card {
  @apply bg-white shadow-lg rounded-2xl p-6 border border-slate-100;
}








